<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        padding-top: 20px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
        scrollbar-color: #f1f1f1 #FFFFFF;
    }

    .modal-content {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        max-width: 800px;
        max-height: 90vh;
    }   

    .modal-content-inner {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 100%; 
        padding-right: 10px; 
        scrollbar-color: #f1f1f1 #ffffff; 
    }

    .modal-content-inner::-webkit-scrollbar {
        width: 8px;
    }

    .modal-content-inner::-webkit-scrollbar-thumb {
        background: #FFFFFF;
        border-radius: 8px;
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 18px;
        cursor: pointer;
    }
</style>

<h2>Roteadores (NAS)</h2>
<button type="button" class="btn btn-primary" id="newNasButton">Novo</button>
{{#if routers}}
    <div class="mt-5">
        <table class="table table-striped" style="width:100%">
            <thead>
                <th>Nome</th>
                <th>Integração</th>
                <th>Endereço IP</th>
                <th>Usuário</th>
                <th>SNMP</th>
                <th>Criado Em</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </thead>
            <tbody>
                {{#each routers}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.integration}}</td>
                        <td>{{this.accessIP}}</td>
                        <td>{{this.accessUsername}}</td>
                        <td>{{this.snmpCommunity}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.updatedAt}}</td>
                        <td>
                            <button type="button" onclick="openEditNas('{{this._id}}')" style="border: none; background-color: transparent;"><i class='bx bx-edit h4'></i></button>
                            <button type="button" onclick="openDeleteNasModal('{{this._id}}')" style="border: none; background-color: transparent;"><i class='bx bx-trash h4'></i></button>
                            <button type="button" onclick="openMikrotikGraphs('{{this.accessIP}}', '{{this.name}}')" style="border: none; background-color: transparent;"><i class='bx bx-stats h4'></i></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px; font-size: large;">Nenhum Roteador (NAS) cadastrado</div>
{{/if}}

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content px-5" style="max-width: 100%; width: 80%;">
        <div class="modal-content-inner">
            <span class="close" id="closeNewNasModal">&times;</span>
            <h3>Novo Roteador (NAS)</h3>
            <form action="" class="row g-3">
                <div class="col-md-6">
                    <input type="hidden" class="form-control" id="nasId" name="_id">
                    <input type="hidden"  class="form-control" id="updatedAt" name="updatedAt">
                    <div class="form-group">
                        <label for="integration" class="pb-2">Integração</label>
                        <select name="integration" class="form-select" id="nasIntegration">
                            <option value="Mikrotik" selected>Mikrotik</option>
                            <option value="Cisco">Cisco</option>
                            <option value="Juniper">Juniper</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label for="name" class="pb-2">Nome</label>
                        <input type="text" class="form-control" id="nasName" name="name">
                    </div>
                    <div class="form-group mt-3">
                        <label for="accessIP" class="pb-2">Endereço IP</label>
                        <input type="text" class="form-control" id="nasAccessIp" name="accessIP">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="accessUsername" class="pb-2">Usuário</label>
                        <input type="text" class="form-control" id="nasAccessUsername" name="accessUsername">
                    </div>
                    <div class="form-group mt-3">
                        <label for="accessPassword" class="pb-2">Senha</label>
                        <input type="password" class="form-control" id="nasAcessPassword" name="accessPassword">
                    </div>
                    <div class="form-group mt-3">
                        <label for="snmpCommunity" class="pb-2">SNMP</label>
                        <input type="text" class="form-control" id="nasSnmpCommunity" name="snmpCommunity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="pb-2">Descrição</label>
                    <textarea name="description" id="nasDescription" class="form-control"></textarea>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" id="saveNewNas">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteNasModal" class="modal">
    <div class="modal-content px-5" style="max-width: 100%; width: 60%;">
        <div class="modal-content-inner">
            <span class="close" id="closeDeleteNasModal">&times;</span>
            <h3>Deseja deletar o Roteador (NAS)?</h3>
            <div class="d-flex mt-1">
                <button type="button" id="deleteNasButton" class="btn btn-danger" style="margin-right: 15px;">Sim</button>
                <button type="button" id="cancelDeleteNasButton" class="btn btn-primary">Não</button>
            </div>
        </div>
    </div>
</div>

<div id="mikrotikGraphs" class="modal">
    <div class="modal-content px-31" style="max-width: 100%; width: 90%;">
        <div class="modal-content-inner">
            <span class="close" id="closeMikrotikGraphs">&times;</span>
            <h1 id="mikrotikName" class="h3 mb-3 text-gray-800"></h1>

            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-start border-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-md font-weight-bold text-primary mb-1">System Identity</div>
                                    <div id="mikrotikSystemIdentity" class="h-2 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-start border-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-md font-weight-bold text-success mb-1">System Uptime</div>
                                    <div id="mikrotikSystemUptime" class="h-2 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-start border-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-md font-weight-bold text-info mb-1">System Time</div>
                                    <div id="mikrotikSystemTime" class="h-2 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-start border-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-md font-weight-bold text-warning mb-1">System Firmware</div>
                                    <div id="mikrotikSystemFirmware" class="h-2 mb-0 font-weight-bold text-gray-800"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Uso de memória em tempo real</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="mikrotikMemoryUsage"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Recursos de Memória</h6>
                        </div>
                        <div class="card-body">
                            <canvas style="margin-bottom: 28px;" id="mikrotikMemoryResources"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-4">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-body">
                            <div class="no-block">
                                <h5 class="card-title mb-2 align-self-center" id="usedMemoryBarTitle"></h5>
                                <div class="progress mb-4">
                                    <div id="usedMemoryPercentBar" style="background-color: #36A2EB;" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                <h5 class="card-title mb-2 align-self-center" id="freeMemoryBarTitle"></h5>
                                <div class="progress">
                                    <div id="freeMemoryPercentBar" style="background-color: #6EEB83;" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card mt-4 shadow mb-4 border-start border-primary" id="systemCpuUtilizationPercentCard">
                        <div class="card-body">
                            <div class="no-block">
                                <h5 class="card-title mb-2 align-self-center">Uso de CPU</h5>
                                <h2 class="align-center" id="systemCpuUtilizationPercent"></h2>

                                <p id="systemCpuFrequency"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Uso de CPU em tempo real</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="mikrotikCpuUsage"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Recursos de Disco</h6>
                        </div>
                        <div class="card-body">
                            <canvas style="margin-bottom: 28px;" id="mikrotikDiskResources"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4 border-start border-primary">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Uso de Disco em tempo real</h6>
                        </div>
                        <div class="card-body">
                            <canvas id="mikrotikDiskUsage"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card shadow border-start border-primary" style="margin-bottom: 35px;">
                        <div class="card-body">
                            <div class="no-block">
                                <h5 class="card-title mb-2 align-self-center">Total de Conexões PPP Ativas</h5>
                                <h2 class="align-center" id="mikrotikTotalPPPActiveConnections"></h2>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow border-start border-primary" style="margin-bottom: 35px;">
                        <div class="card-body">
                            <div class="no-block">
                                <h5 class="card-title mb-2 align-self-center">Conexões PPP Ativas Com IP</h5>
                                <h2 class="align-center" id="mikrotikTotalPPPActiveConnectionsWithIP"></h2>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow border-start border-primary" style="margin-bottom: 35px;">
                        <div class="card-body">
                            <div class="no-block">
                                <h5 class="card-title mb-2 align-self-center">Conexões PPP Ativas Sem IP</h5>
                                <h2 class="align-center" id="mikrotikTotalPPPActiveConnectionsWithoutIP"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>