<style>
    .modal {
        display: none; /* Ocultar por padrão */
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 40px;
        border-radius: 8px;
        width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 18px;
        cursor: pointer;
    }
</style>

<h2>Transmissores (OLT)</h2>
<button type="button" class="btn btn-primary" id="newTransmissorButton">Novo</button>
{{#if transmissors}}
    <div class="mt-5">
        <table class="table table-striped" style="width:100%">
            <thead>
                <th>Nome</th>
                <th>Integração</th>
                <th>Endereço IP</th>
                <th>Usuário</th>
                <th>SNMP</th>
                <th>Criado Em</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </thead>
            <tbody>
                {{#each transmissors}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.integration}}</td>
                        <td>{{this.accessIP}}</td>
                        <td>{{this.accessUsername}}</td>
                        <td>{{this.snmpCommunity}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>{{this.updatedAt}}</td>
                        <td>
                            <button type="button" onclick="openEditTransmissor('{{this._id}}')" style="border: none; background-color: transparent;"><i class='bx bx-edit h4'></i></button>
                            <button type="button" onclick="openDeleteTransmissorModal('{{this._id}}')" style="border: none; background-color: transparent;"><i class='bx bx-trash h4'></i></button>
                            <button type="button" style="border: none; background-color: transparent;"><i class='bx bx-stats h4'></i></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px; font-size: large;">Nenhum Transmissor (OLT) cadastrado</div>
{{/if}}

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content px-5" style="max-width: 100%; width: 80%;">
        <span class="close" id="closeNewTransmissorModal">&times;</span>
        <h3>Novo Transmissor (OLT)</h3>
        <form action="" class="row g-3">
            <div class="col-md-6">
                <input type="hidden" class="form-control" id="transmissorId" name="_id">
                <div class="form-group">
                    <label for="integration" class="pb-2">Integração</label>
                    <select name="integration" class="form-select" id="transmissorIntegration">
                        <option value="Datacom" selected>Datacom</option>
                        <option value="Huawei">Huawei</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="name" class="pb-2">Nome</label>
                    <input type="text" class="form-control" id="transmissorName" name="name">
                </div>
                <div class="form-group mt-3">
                    <label for="accessIP" class="pb-2">Endereço IP</label>
                    <input type="text" class="form-control" id="transmissorAccessIp" name="accessIP">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="accessUsername" class="pb-2">Usuário</label>
                    <input type="text" class="form-control" id="transmissorAccessUsername" name="accessUsername">
                </div>
                <div class="form-group mt-3">
                    <label for="accessPassword" class="pb-2">Senha</label>
                    <input type="password" class="form-control" id="transmissorAcessPassword" name="accessPassword">
                </div>
                <div class="form-group mt-3">
                    <label for="snmpCommunity" class="pb-2">SNMP</label>
                    <input type="text" class="form-control" id="transmissorSnmpCommunity" name="snmpCommunity">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="pb-2">Descrição</label>
                <textarea name="description" id="transmissorDescription" class="form-control"></textarea>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary" id="saveNewTransmissor">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteTransmissorModal" class="modal">
    <div class="modal-content px-5" style="max-width: 100%; width: 60%;">
        <span class="close" id="closeDeleteTransmissorModal">&times;</span>
        <h3>Deseja deletar o Transmissor (OLT)?</h3>
        <div class="d-flex mt-1">
            <button type="button" id="deleteTransmissorButton" class="btn btn-danger" style="margin-right: 15px;">Sim</button>
            <button type="button" id="cancelDeleteTransmissorButton" class="btn btn-primary">Não</button>
        </div>
    </div>
</div>